body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #EADDCA
  }
  
  .App {
    margin: 0% 5% 0% 5%;
    text-align: center;
  }

  #text {
    text-align: right;
  }

  .ui menu right {
    flex: right;
  }